# Core
django==4.1.12
python-dotenv==1.0.0

# UI 
django-admin-soft-dashboard==1.0.12
ordereddict==1.1


# Deployment
whitenoise==6.5.0
gunicorn==21.2.0
psycopg2==2.9.9

# psycopg2-binary
# mysqlclient
