{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid py-4">
    <div class="d-flex w-100 justify-content-center gap-3 align-items-center">
        <div style="flex: 10">
            <form action="#" method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search" name="search"
                           value="{{ request.GET.search }}">
                </div>
            </form>
        </div>
        <div style="flex: 2">
            <a href="{% url 'traders_add' %}" class="btn btn-sm btn-success float-right">Добавить нового трейдера</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Traders table</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-3">
                            <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Login
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Server
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Продюсер / Консьюмер
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Trader UID
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Трейдер занят
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Коэфицент трейдера
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Баланс
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Эквити
                                </th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for trader in traders %}
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <p class="text-sm font-weight-bold mb-0">{{ trader.id }}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle text-center">
                                        <p class="text-sm font-weight-bold mb-0">{{ trader.login }}</p>
                                    </td>
                                    <td class="align-middle text-center">
                                        <p class="text-sm font-weight-bold mb-0">{{ trader.server }}</p>
                                    </td>
                                    <td class="align-middle text-center">
                                        <p class="text-sm font-weight-bold mb-0">
                                            {% if trader.is_consumer %}
                                                Консьюмер
                                            {% else %}
                                                Продюсер
                                            {% endif %}
                                        </p>
                                    </td>
                                    <td class="align-middle text-center">
                                        <p class="text-xs font-weight-bold mb-0">{{ trader.trader_uid }}</p>
                                    </td>
                                    <td class="align-middle text-center">
                                        {% if trader.is_taken %}
                                            <span class="badge badge-sm bg-gradient-success">{{ trader.is_taken }}</span>
                                        {% else %}
                                            <span class="badge badge-sm bg-gradient-danger">{{ trader.is_taken }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle text-center">
                                        <p class="text-sm font-weight-bold mb-0">{{ trader.coefficient }}</p>
                                    </td>
                                    <td class="align-middle text-center">
                                        <p class="text-sm font-weight-bold mb-0">{{ trader.balance }}</p>
                                    </td>
                                    <td class="align-middle text-center">
                                        <p class="text-sm font-weight-bold mb-0">{{ trader.equity }}</p>
                                    </td>
                                    <td class="align-middle d-grid">
                                        <a class="btn btn-info btn-sm" href="{% url 'traders_edit' trader.id %}">
                                            Обновить
                                        </a>
                                        {%  if trader.is_consumer %}
                                            <a class="btn btn-warning btn-sm"
                                               href="{% url 'consumer_state_edit' trader.id %}">
                                                Обновить стейт
                                            </a>
                                        {% endif %}
                                        <form action="{% url 'traders_delete' trader.id %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit"
                                                    onclick="return confirm('Вы уверены, что хотите удалить трейдера ?')"
                                                    class="btn w-100 btn-danger btn-sm">Удалить
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}
